<template name="Feeds">
    <div class="feeds">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Activities</h5>
            </div>
            <div class="ibox-content">

                <div>
                    {{#unless feeds.count}}
                        <p class="text-muted text-center">There is no activity</p>
                    {{/unless}}
                    <div class="feed-activity-list">
                        {{#each feeds}}
                            {{> FeedItem}}
                        {{/each}}
                        {{#if isLoading}}
                            {{> waveLoading}}
                        {{/if}}
                    </div>
                    {{#if isHasMore}}
                        <button class="btn btn-primary btn-block m load-more"><i class="fa fa-arrow-down"></i> Show More
                        </button>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</template>

<template name="FeedItem">
    <div class="feed-element">
        <a href="#" class="pull-left">
            {{#if senderId}}
                {{> Avatar userId=senderId }}
            {{else}}
                {{> Avatar }}
            {{/if}}
        </a>

        <div class="media-body ">
            <small class="pull-right text-navy">{{timeago}}</small>
            <strong>{{sender}}</strong> {{title}} <strong>{{receiver}}</strong>. <br>
            <small class="text-muted">{{datetime}}</small>
            <div>{{{content}}}</div>
        </div>
    </div>
</template>