<template name="RequestsInvitePage">
    {{> autoformModals}}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header clear">
                <div class="pull-right header-actions">
                    {{#afModal buttonContent='Send' class="btn btn-primary pull-right" collection="Collections.LeaderRequests" operation="insert"}}
                        <i class="fa fa-user-plus"></i>&nbsp;Invite leader
                    {{/afModal}}
                </div>
                <h2>Request invitation</h2>
            </div>

            <div>
                {{> tabular table=TabularTables.RequestInvite class="table table-striped table-bordered table-condensed"}}
            </div>
        </div>
    </div>
</template>

<template name="adminRequestActions">
    {{#if isStatus 1}}
        <button class="btn btn-primary btn-xs send-invite"><i class="fa fa-envelope-o"></i>&nbsp;invite</button>
    {{/if}}
    {{#if isStatus 2}}
        <button class="btn btn-primary btn-xs send-invite"><i class="fa fa-envelope-o"></i>&nbsp;re-invite</button>
    {{/if}}
</template>