<template name="FriendsPage">
    {{> autoformModals}}
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header clear">
                <div class="pull-right header-actions">
                    {{#if isAllowInvite}}
                        {{#afModal buttonContent='Send' class="btn btn-primary pull-right" collection="Collections.LeaderRequests" operation="insert"}}
                            <i class="fa fa-user-plus"></i>&nbsp;Invite leader
                        {{/afModal}}
                    {{/if}}
                    <p class="text-muted text-right">
                        ({{totalInvitation}}/3) friends
                    </p>
                </div>
                <h2>Friends</h2>
            </div>
            <div class="clients-list">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i>
                        Connected</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i>
                        Invitation</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        {{#if hasFriend}}
                            <div class="full-height-scroll">
                                {{> Friends}}
                            </div>
                        {{else}}
                            <div class="no-item">
                                <div class="no-item-icon">
                                    <i class="fa fa-circle-thin"></i>
                                </div>
                                <div class="no-item-title">
                                    You have no friends
                                </div>
                                <div class="no-item-instruction">
                                    <p>Click <i class="fa fa-user-plus"></i> button to invite your friend to become
                                        leader</p>
                                    {{#unless currentUser.isAdmin}}
                                        <p>maximum 3 friends</p>
                                    {{/unless}}
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="full-height-scroll">
                            <div class="table-responsive">
                                <div style="padding: 20px">
                                    {{> tabular table=TabularTables.LeaderRequests class="table table-striped table-bordered table-condensed"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>

<template name="leaderRequestActions">
    {{#if isStatus 2}}
        <button class="btn btn-primary btn-xs send-invite"><i class="fa fa-envelope-o"></i>&nbsp;re-invite</button>
    {{/if}}
</template>