<template name="landing">

    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor route='landing'}}">theLeader.io</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Features</a></li>
                        <li><a class="page-scroll" href="#testimonials">Testimonials</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
        <!--
                <ol class="carousel-indicators">
                    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
                    <li data-target="#inSlider" data-slide-to="1"></li>
                </ol>
        -->
        <div class="carousel-inner" role="listbox">
            <!--
                        <div class="item active">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>We craft<br/>
                                        brands, web apps,<br/>
                                        and user interfaces<br/>
                                        we are IN+ studio</h1>
                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                    <p>
                                        <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
                                        <a class="caption-link" href="#" role="button">Inspinia Theme</a>
                                    </p>
                                </div>
                                <div class="carousel-image wow zoomIn">
                                    <img src="img/landing/laptop.png" alt="laptop"/>
                                </div>
                            </div>
                            &lt;!&ndash; Set background for slide in css &ndash;&gt;
                            <div class="header-back one"></div>

                        </div>
            -->
            <div class="item active">
                <!-- Set background for slide in css -->

                <div class="container-slider">
                    <div class="carousel-caption blank">
                        <h2>Do You Strive to Be a Great Leader? <br/></h2>

                        <h2>Not Sure How to Improve?<br/></h2>

                        <p>Get Insight on How Your Team Rates Your Leadership and How to Improve.</p>

                        <p><a class="btn btn-lg btn-primary" href="{{pathFor 'register'}}" role="button">Try For
                            Free!</a></p>
                    </div>
                    <div class="header-back two"></div>
                </div>
            </div>
        </div>
        <!--
                <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        -->
    </div>


    <section id="features" class="container services">
        <div class="row">
            <div class="col-sm-6">
                <h2>Survey Your Employees</h2>

                <p>Create your own questions or choose from a list of questions which are already in use by others in
                    your industry.
                    Send simple, personalized surveys that get industry high response rates of 60%.</p>
            </div>
            <div class="col-sm-6">
                <h2>Measure and Track Employee Satisfaction</h2>

                <p>Keep track of employee satisfaction by monitoring changes from one survey period to the next.
                    See if what you are doing is improving satisfaction or having a negative impact.</p>
            </div>
        </div>
    </section>

    <section class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Analytics 3.0<br/> <span class="navy"> the era of data-enriched offerings</span></h1>

                <p>New ways of deciding, managing, changing, innovating, improving and Leading.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-frown-o features-icon"></i>

                    <h2>Identify Unhappy Employees</h2>

                    <p>By using past scores and industry data, we identify your 'at risk' employees and send you an
                        immediate email notification so you can proactively address their concerns.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-bar-chart features-icon"></i>

                    <h2>Benchmark Against Your Industry</h2>

                    <p>See how your leadership stacks up against others in your industry. Benchmark your performance so
                        you can continuously improve.</p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <img src="img/landing/perspective.png" alt="dashboard" class="img-responsive">
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-quote-left features-icon"></i>

                    <h2>Get Testimonials, Display and Share Them</h2>

                    <p>Generate testimonials from your employees, display them using our testimonial widget and have
                        them instantly shared across LinkedIn, Facebook and Twitter.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-rocket features-icon"></i>

                    <h2>Embedded analytics</h2>

                    <p>Consistent with the increased speed of data processing and analysis, our models in Analytics 3.0
                        are often embedded into operational and decision processes, dramatically increasing speed and
                        impact.</p>
                </div>
            </div>
        </div>
    </section>


    <section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <i class="fa fa-comment big-icon"></i>

                    <h1>
                        What our users say
                    </h1>

                    <div class="testimonials-text">
                        <i>"theLeader.io is so simple and easy to use, my employees just love filling it out. Now that I
                            have the majority of our employees leaving me feedback on my leadership, I feel more engaged
                            with them and can use the data to make more confident business decisions."</i>
                    </div>
                    <small>
                        <strong>12.02.2015 - Andy Smith</strong>
                    </small>
                </div>
            </div>
        </div>

    </section>

    <section class="comments gray-section" style="margin-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>What our customers say</h1>

                    <p>Our Customers Love us.</p>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-4">
                    <div class="bubble">
                        "theLeader.io can be as valuable as your business wants to make it. Its great to ask for
                        feedback from employees and have dashboard! it gives me a lead in talking point to further
                        employee relationships."
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="img/landing/avatar3.jpg">
                        </a>

                        <div class="media-body">
                            <div class="commens-name">
                                Paula Williams
                            </div>
                            <small class="text-muted">A-NET from Dubai</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble">
                        "Great tool to automate employees feedback process and also get insights into changes over time!
                        Easy to use - must have for any leader!."
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image" src="img/landing/avatar1.jpg">
                        </a>

                        <div class="media-body">
                            <div class="commens-name">
                                Peter Nielsen
                            </div>
                            <small class="text-muted">British Telcom from Malaysia</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bubble">
                        "Such a great service that provides me with valuable insight into our employee satisfaction.
                        Thank you theLeader.io"
                    </div>
                    <div class="comments-avatar">
                        <a href="" class="pull-left">
                            <img alt="image"
                                 src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/000/1b5/38d/0791224.jpg">
                        </a>

                        <div class="media-body">
                            <div class="commens-name">
                                Eduardo Mora
                            </div>
                            <small class="text-muted">VietnamWorks from Vietnam</small>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>

    <section id="contact" class="gray-section contact">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Contact Us</h1>

                    <p>Feel Free to contact us in case you have any question.</p>
                </div>
            </div>
            <div class="row m-b-lg">
                <div class="col-lg-3 col-lg-offset-3">
                    <address>
                        <strong><span class="navy">theLeader.io, Inc.</span></strong><br/>
                        55 East 52nd Street<br/>
                        New York, NY 10022, United States<br/>
                    </address>
                </div>
                <div class="col-lg-4">
                    <p class="text-color">
                        Our Vision in theLeader.io is to help leaders like you to become a better leader. You can make
                        decisions for your employees based on data and monitor employee satisfaction to reduce your turn
                        over rate. Leadership matters a lot.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-lg btn-primary" href="{{pathFor 'register'}}" role="button">Try For Free!</a>

                    <p class="m-t-sm">
                        Follow us on social platform
                    </p>
                    <ul class="list-inline social-icon">
                        <li><a href="https://twitter.com/chrisshayan"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="https://vn.linkedin.com/in/chrisshayan"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                </div>
                <p><strong>&copy; theLeader.io</strong><br/> We Help Leaders to become a better Leader by improving the
                    Decision Making Process.</p>
            </div>
        </div>
    </section>


</template>