<template name="Explore">
    <div class="wrapper-content post-details">
        <div style="width: 820px;padding:20px; background: #fff">
            <div class="clear post">
                <a href="/publish-post" class="btn btn-primary pull-right"><i class="fa fa-paper-plane"></i> Publish
                    a post</a>
            </div>
        </div>

        <div class="posts">
            {{#each posts}}
                {{> PostItem}}
            {{/each}}
        </div>
    </div>
</template>

<template name="PostItem">
    <div class="publish-post">
        <div class="post">
            <header>
                <div class="post-picture">

                    <div class="upload-zone">
                        <a href="{{pathFor 'post'}}"><img src="{{postPicture}}" alt=""/></a>
                    </div>

                </div>
                <div class="post-avatar">
                    <img src="/img/a1.jpg" alt=""/>
                </div>

                <a href="{{pathFor 'post'}}">
                    <div class="post-title">{{title}}</div>
                </a>
            </header>
            <div class="post-editor">
                <div class="post-content">
                    {{{shortContent}}}
                </div>
            </div>
            <div class="clear">
                {{#each tags}}
                    <span class="label label-default">{{this}}</span>
                {{/each}}
            </div>
        </div>
    </div>
</template>