<template name="myFeedbacks">

    <!-- Page heading -->
    {{> pageHeading title='Feedbacks' category='app' }}

    {{#if isReady}}
        {{#if noFeedback}}
            {{> FeedbackEmpty}}
        {{else}}
            {{> feedbacks}}
        {{/if}}
    {{else}}
        {{> waveLoading}}
    {{/if}}
</template>

<template name="feedbacks">
    <div class="fh-breadcrumb">

        <div class="fh-column">
            <div class="full-height-scroll">
                <ul class="list-group elements-list">
                    {{#each items}}
                        {{> myFeedbackItem }}
                    {{/each}}
                </ul>
                {{#if isLoadingMore}}
                    {{> waveLoading}}
                {{else}}
                    {{#if hasMore}}
                        <button class="btn btn-block loadmore">Load more</button>
                    {{/if}}
                {{/if}}
            </div>
        </div>

        <div class="full-height">
            <div class="full-height-scroll white-bg border-left">

                <div class="element-detail-box">

                    <div class="tab-content">
                        <div class="tab-pane active">
                            {{> feedbackContent}}
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</template>
<template name="myFeedbackItem">
    <li class="list-group-item {{activeClass}}">
        <a data-toggle="tab" href="">
            <small class="pull-right text-muted"> {{timeago}}</small>
            <strong>{{name}}</strong>
            <div class="small m-t-xs">
                <p class="m-b-xs">
                    {{shortContent}}
                    <br/>
                </p>
                {{#if showPoint}}
                <p class="m-b-none clear">
                    <span class="label pull-right {{pointLabel}}">{{pointText}}</span>
                </p>
                {{/if}}
            </div>
        </a>
    </li>
</template>

<template name="feedbackContent">
    <div class="pull-right">
        <div class="tooltip-demo">
            {{#if showPoint}}
                <span class="label {{pointLabel}}">{{pointText}}</span>
            {{/if}}
        </div>
    </div>
    <div class="small text-muted">
        <i class="fa fa-clock-o"></i> {{timeago}} | <i class="fa fa-user"></i> <strong>{{name}}</strong>
    </div>
    <h2></h2>
    <p>{{content}}</p>
</template>

<template name="FeedbackEmpty">
    <div class="feedback-empty">
        <h2>There is no feedback!</h2>
    </div>
</template>