<template name="feedback">
    {{>feeds}}
</template>

<template name="feedbackType">
    <div class="ibox feedback">
        <div class="ibox-content">
            <h3>{{ this.label }}</h3>
            {{#if allowSendFeedback}}
                <div class="input-group">
                    <textarea placeholder="Add feedback... " class="input input-sm form-control feedback-input"
                              data-feedback="{{this.type}}"></textarea>
            <span class="input-group-btn">
                <button type="button" class="btn btn-sm btn-white send-feedback"><i class="fa fa-plus"></i> Add</button>
            </span>
                </div>
            {{/if}}
            <hr>
            <ul class="sortable-list connectList agile-list">
                {{#each items}}
                    {{> feedbackItem}}
                {{/each}}
            </ul>
            {{#if isLoadmoreAbility}}
                <button class="btn btn-white btn-sm btn-block load-more">load more</button>
            {{/if}}
        </div>
    </div>
</template>

<template name="feedbackItem">
    <li class="{{elementLabel}}-element">
        {{ content }}
        <div class="agile-detail">
            <i class="fa fa-clock-o"></i> {{timeago}}
        </div>
    </li>
</template>
