<template name="points">
   <div class="row">
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">+5%</span>
                <h5>Overall</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgOverall }}</h1>
                <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">-15%</span>
                <h5>Purpose</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "goalRating" }}</h1>
                <div class="stat-percent font-bold text-success">4.3 <i class="fa fa-bolt"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-warning pull-right">0%</span>
                <h5>Meetings</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "meetingRating" }}</h1>
                <div class="stat-percent font-bold text-success">3.3 <i class="fa fa-bolt"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">+3%</span>
                <h5>Rules</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "groundRulesRating" }}</h1>
                <div class="stat-percent font-bold text-success">3.2 <i class="fa fa-thumbs-o-up"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Communication</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "communicationRating" }}</h1>
                <div class="stat-percent font-bold text-success">3 <i class="fa fa-thumbs-o-up"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">+5%</span>
                <h5>Leadership</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "leadershipRating" }}</h1>
                <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">+5%</span>
                <h5>Workload</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "workloadRating" }}</h1>
                <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">+5%</span>
                <h5>Energy</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "energyRating" }}</h1>
                <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">+5%</span>
                <h5>Stress</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "stressRating" }}</h1>
                <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">+5%</span>
                <h5>Decision</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "decisionRating" }}</h1>
                <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">+5%</span>
                <h5>Respect</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "respectRating" }}</h1>
                <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">+5%</span>
                <h5>Conflict</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{{ avgPoint "conflictRating" }}</h1>
                <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                <small>Average Point</small>
            </div>
        </div>
    </div>
</div>
</template>