<template name="points">
   <div class="report-points">
       <div class="row">
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'overall'}}
                           <span class="label {{incLabel 'overall'}} pull-right">{{inc 'overall'}}%</span>
                       {{/if}}
                       <h5>Overall</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint 'overall' }}</h1>
                       <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                        {{#if inc 'goalRating'}}
                            <span class="label {{incLabel 'goalRating'}} pull-right">{{inc 'goalRating'}}%</span>
                        {{/if}}
                       <h5>Purpose</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "goalRating" }}</h1>
                       <div class="stat-percent font-bold text-success">4.3 <i class="fa fa-bolt"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'meetingRating'}}
                           <span class="label {{incLabel 'meetingRating'}} pull-right">{{inc 'meetingRating'}}%</span>
                       {{/if}}
                       <h5>Meetings</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "meetingRating" }}</h1>
                       <div class="stat-percent font-bold text-success">3.3 <i class="fa fa-bolt"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'groundRulesRating'}}
                           <span class="label {{incLabel 'groundRulesRating'}} pull-right">{{inc 'groundRulesRating'}}%</span>
                       {{/if}}
                       <h5>Rules</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "groundRulesRating" }}</h1>
                       <div class="stat-percent font-bold text-success">3.2 <i class="fa fa-thumbs-o-up"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'communicationRating'}}
                           <span class="label {{incLabel 'communicationRating'}} pull-right">{{inc 'communicationRating'}}%</span>
                       {{/if}}
                       <h5>Communication</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "communicationRating" }}</h1>
                       <div class="stat-percent font-bold text-success">3 <i class="fa fa-thumbs-o-up"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'leadershipRating'}}
                           <span class="label {{incLabel 'leadershipRating'}} pull-right">{{inc 'leadershipRating'}}%</span>
                       {{/if}}
                       <h5>Leadership</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "leadershipRating" }}</h1>
                       <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'workloadRating'}}
                           <span class="label {{incLabel 'workloadRating'}} pull-right">{{inc 'workloadRating'}}%</span>
                       {{/if}}
                       <h5>Workload</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "workloadRating" }}</h1>
                       <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'energyRating'}}
                           <span class="label {{incLabel 'energyRating'}} pull-right">{{inc 'energyRating'}}%</span>
                       {{/if}}
                       <h5>Energy</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "energyRating" }}</h1>
                       <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'stressRating'}}
                           <span class="label {{incLabel 'stressRating'}} pull-right">{{inc 'stressRating'}}%</span>
                       {{/if}}
                       <h5>Stress</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "stressRating" }}</h1>
                       <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'decisionRating'}}
                           <span class="label {{incLabel 'decisionRating'}} pull-right">{{inc 'decisionRating'}}%</span>
                       {{/if}}
                       <h5>Decision</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "decisionRating" }}</h1>
                       <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'respectRating'}}
                           <span class="label {{incLabel 'respectRating'}} pull-right">{{inc 'respectRating'}}%</span>
                       {{/if}}
                       <h5>Respect</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "respectRating" }}</h1>
                       <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
           <div class="col-md-2 col-sm-4 dashboard-point">
               <div class="ibox float-e-margins">
                   <div class="ibox-title">
                       {{#if inc 'conflictRating'}}
                           <span class="label {{incLabel 'conflictRating'}} pull-right">{{inc 'conflictRating'}}%</span>
                       {{/if}}
                       <h5>Conflict</h5>
                   </div>
                   <div class="ibox-content">
                       <h1 class="no-margins">{{ avgPoint "conflictRating" }}</h1>
                       <div class="stat-percent font-bold text-success">3 <i class="fa fa-bolt"></i></div>
                       <small>Average Point</small>
                   </div>
               </div>
           </div>
       </div>
   </div>
</template>