<template name="admin">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <a class="pull-right" href="{{pathFor 'logout'}}">Logout</a>
                    <strong>Admin panel</strong>
                    &nbsp;
                    <a href="{{pathFor 'adminReport'}}">Report</a>
                </div>
                <div class="ibox-content">
                    <div class="row clear" style="margin: 10px 0">
                        {{#afModal class="btn btn-primary pull-right" collection="Collections.LeaderRequests" operation="insert"}}
                            <i class="fa fa-plus"></i>&nbsp;Add leader
                        {{/afModal}}
                    </div>
                    <div class="row">
                        {{> tabular table=TabularTables.LeaderRequests class="table table-striped table-bordered table-condensed"}}
                        {{> autoformModals}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
