<template name="measure">

    <!-- Page heading -->
    {{> pageHeading title='Measure Your Leadership' category='Help' }}

    <div class="wrapper wrapper-content  animated fadeInRight article">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="pull-right">
                            <button class="btn btn-white btn-xs" type="button">Leadership</button>
                            <button class="btn btn-white btn-xs" type="button">Mentoring</button>
                            <button class="btn btn-white btn-xs" type="button">Leadership Development Coaching</button>
                        </div>
                        <div class="text-center article-title">
                            <span class="text-muted">
                                <i class="fa fa-clock-o"></i> {{now}}
                            </span>

                            <h1>
                                How theLeader Measure Your Leadership
                            </h1>
                        </div>

                        <p>In "<a href="https://www.linkedin.com/pulse/bad-leadership-habits-chris-shayan"
                                  target="_blank">Bad Leadership Habits</a>" I talked about habits that are having
                            negative impact on any leadership. Also while ago I decided to openly criticize my bad
                            leadership habits&nbsp;in&nbsp;this&nbsp;<a
                                    href="https://www.linkedin.com/pulse/when-i-failed-leader-chris-shayan"
                                    target="_blank">post</a>. But how could I find out my bad habits? How could I
                            measure my leadership effectiveness? It is very important to be able to measure because as
                            Peter Drucker said: "what gets measured gets improved".</p>

                        <p>I created&nbsp;<a href="http://goo.gl/forms/7EZetr6o1D" rel="nofollow" target="_blank">this
                            template</a> that I got inspired by HBR book on leadership. This evaluation form is focusing
                            on few different perspectives of a leadership, which are explained each importance in below:
                        </p>

                        <ul>
                            <li><strong>Purpose</strong>. One of the key elements of inspiration is setting purpose to
                                the work.&nbsp;When employees “clearly know their role, have what they need to fulfill
                                their role, and can see the connection between their role and the overall organizational
                                purpose,” says <a href="https://hbr.org/2013/07/employee-engagement-does-more/"
                                                  rel="nofollow" target="_blank">Harter</a>, that’s the recipe for
                                creating greater levels of engagement.
                            </li>
                            <li><strong>Meetings</strong>. There are few signs that shows teams are drifting. One of the
                                main indicators is meetings. You leave meetings feeling like they’ve been a waste of
                                time, or you decide to stop having team meetings because they’re not productive anymore.
                            </li>
                            <li><strong>Ground Rules and Norms</strong>.&nbsp;Ground rules are an important tool for
                                helping individuals function together as a <a
                                        href="http://www1.umn.edu/ohr/toolkit/workgroup/forming/rules/" rel="nofollow"
                                        target="_blank">team</a>. They reflect what is important to the members about
                                how they work together.Ground rules should focus on three elements: &nbsp;<em>Tasks</em>
                                – Expected activities and deliverables for the team;&nbsp;<em><span class="underline">Process</span></em>
                                – How the activities will be carried out; and&nbsp;<em>Norms</em> – Ways in which team
                                members will interact with each other
                            </li>
                            <li><strong>Communication</strong>.&nbsp;It is simply impossible to become a great leader
                                without being a great <a
                                        href="http://www.forbes.com/sites/mikemyatt/2012/04/04/10-communication-secrets-of-great-leaders/"
                                        rel="nofollow" target="_blank">communicator</a>.
                            </li>
                            <li><strong>Leadership</strong>.&nbsp;It&nbsp;can be hard to define and it means different
                                things to different people.&nbsp;This is why it is important to be measured in point of
                                view of your team members, are you leading them properly?
                            </li>
                            <li><strong>Workload/ Distribution of work</strong>.&nbsp;As the <a
                                    href="http://www.inc.com/mike-figliuolo/5-steps-for-doing-more-with-less-without-the-stress.html"
                                    rel="nofollow" target="_blank">leader</a> of a high-performing team, how you
                                distribute and balance work across the members of that team is a critical success
                                factor. It needs to be done fairly. Note, I didn't say equally.
                            </li>
                            <li><strong>Energy/Commitment Level</strong>. Commitment of a leader inspires and motivates
                                the followers and helps them to be more stronger towards the purpose and vision of the
                                organization and team.
                            </li>
                            <li><strong>Management of Stress</strong>. It is acceptable to have stress in the business
                                in fact today's business is very stressful. However a good leader must be able to manage
                                the stress in order to ensure the team is performing in their best focus.
                            </li>
                            <li><strong>Decision Making</strong>.&nbsp;We believe the time has come to broaden the
                                traditional approach to leadership and decision making and form a new perspective based
                                on <a href="https://hbr.org/2007/11/a-leaders-framework-for-decision-making"
                                      rel="nofollow" target="_blank">complexity science</a>. Do your followers think you
                                are able to make a decision?
                            </li>
                            <li><strong>Respect</strong>.&nbsp;Too many people today assume <a
                                    href="http://www.inc.com/kevin-daum/7-ways-to-earn-respect-as-a-leader.html"
                                    rel="nofollow" target="_blank">leadership positions</a> without consideration for
                                their impact on others. The <a
                                        href="http://www.nigeriavillagesquare.com/guest/leading-in-the-21st-century-grooming-the-next-generation-of-leaders.html"
                                        target="_blank" rel="nofollow">leadership vacuum</a>&nbsp;in business today
                                allows them to stay as long they manage acceptable results. Ultimately, your personal
                                leadership legacy will not be remembered for your M.B.A., your sales numbers, or the
                                toys you acquired. Most likely, it will be the positive, personal impact you created,
                                one follower at a time.
                            </li>
                            <li><strong>Management of conflict</strong>.&nbsp;<a
                                    href="http://www.forbes.com/sites/glennllopis/2014/11/28/4-ways-leaders-effectively-manage-employee-conflict/"
                                    rel="nofollow" target="_blank">Conflict resolution</a> is a daily occurrence at work
                                that can either propel or disrupt the momentum for a leader, a team or the entire
                                organization. The workplace can become a toxic environment when leaders allow conflict
                                to fester rather than confront it head-on.
                            </li>
                        </ul>

                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Tags:</h5>
                                <button class="btn btn-white btn-xs" type="button">Leadership</button>
                                <button class="btn btn-white btn-xs" type="button">Mentoring</button>
                                <button class="btn btn-white btn-xs" type="button">Leadership Development Coaching</button>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</template>