<template name="survey">
    <div class="wrapper wrap-content">
        <div class="row">
            {{#if isCompleted}}
                <div class="sweet-alert showSweetAlert visible survey-success" data-animation="pop" data-timer="null" style="display: block;">
                    <div class="sa-icon sa-error" style="display: none;">
                        <span class="sa-x-mark">
                        <span class="sa-line sa-left"></span>
                        <span class="sa-line sa-right"></span>
                        </span>
                    </div>
                    <div class="sa-icon sa-warning" style="display: none;">
                        <span class="sa-body"></span>
                        <span class="sa-dot"></span>
                    </div>
                    <div class="sa-icon sa-info" style="display: none;"></div>
                    <div class="sa-icon sa-success animate" style="display: block;">
                        <span class="sa-line sa-tip animateSuccessTip"></span>
                        <span class="sa-line sa-long animateSuccessLong"></span>
                        <div class="sa-placeholder"></div>
                        <div class="sa-fix"></div>
                    </div>
                    <div class="sa-icon sa-custom" style="display: none;"></div>
                    <h2>Sent!</h2>
                    <p style="display: block;">We sent it to your team leader</p>
                    <div class="sa-button-container">
                        <a class="btn btn-primary" href="{{ leaderDashboardUrl }}" style="margin-top:10px;margin-bottom:10px;">View your leader</a>
                    </div>
                </div>

            {{else}}
            <div class="col-sm-8 col-sm-offset-2">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Survey</h5>
                    </div>
                    <div class="ibox-content">
                        {{#autoForm schema="Schemas.Survey" id="insertSurveyForm"}}
                            <fieldset style="width:90%;margin: 0 auto;">
                                {{> afQuickField name='goalRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='meetingRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='groundRulesRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='communicationRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='leadershipRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='workloadRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='energyRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='stressRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='decisionRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='respectRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='conflictRating' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='biggestChallengeIFace' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='teamToDo' }}
                                <div class="hr-line-dashed"></div>
                                {{> afQuickField name='leaderToDo' }}
                                <div class="hr-line-dashed"></div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </fieldset>
                        {{/autoForm}}
                       
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</template>
<template name="survey3">
    <div class="wrapper wrap-content">
        <div class="row" style="padding-bottom: 60px">
            <div class="col-sm-8 col-sm-offset-2">
                {{> quickForm schema="Schemas.Survey" id="insertSurveyForm"}}
            </div>
        </div>
    </div>
</template>
<template name="survey1">
    <div class="row">
        {{#each points}} {{> surveyPoint}} {{/each}}
    </div>
    <div class="row" style="padding-bottom: 60px">
        <div class="col-sm-12">
            <button class="btn btn-block btn-success done-survey">Done</button>
        </div>
    </div>
</template>
<template name="surveyPoint">
    <div class="col-sm-4">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa {{icon}} fa-5x"></i>
                <h1 class="m-xs">
            		{{> starsRating id=type class='survey-point' mutable=true size=40}}
        		</h1>
                <h3 class="font-bold no-margins">{{ label }}</h3>
                <small>{{ description }}</small>
            </div>
        </div>
    </div>
</template>
