<template name="register">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center animated fadeInDown">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Request invitation</h3>
                        {{#autoForm collection="Collections.LeaderRequests" type="insert" id="requestInvitationForm"}}
                        	{{> afQuickField name='firstName'}}
                        	{{> afQuickField name='lastName'}}
                        	{{> afQuickField name='email'}}
                        	{{> afQuickField name='headline'}}
                        	<button type="submit" class="btn btn-block btn-primary">Send request</button>
                        {{/autoForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
