<template name="navigation">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">

            <!-- Close canvas menu used only on OffCanvas page -->
            <!-- You can remove this tag if you dont use offCanvas menu -->
            <a class="close-canvas-menu"><i class="fa fa-times"></i></a>
            <!-- End offCanvas menu toggle -->

            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs">
                                <strong class="font-bold">
                                    {{#if name}}
                                        Hi, {{name}}
                                    {{/if}}
                
                                </strong>
                             </span> </span> </a>
                    </div>
                    <div class="logo-element">
                        +
                    </div>
                </li>
                {{#if currentUser}}
                <li class="{{isActiveRoute regex='dashboard'}}">
                    <a href="{{pathFor route='dashboard'}}">
                        <i class="fa fa-dashboard"></i>
                        <span class="nav-label">Dashboard</span>
                    </a>
                </li>
                <li class="{{isActiveRoute regex='kudobox'}}">
                    <a href="{{pathFor route='kudobox'}}">
                        <i class="fa fa-gift"></i>
                        <span class="nav-label">Kudobox</span> </a>
                </li>
                <li class="{{isActiveRoute regex='measure'}}">
                    <a href="{{pathFor route='measure'}}">
                        <i class="fa fa-info"></i>
                        <span class="nav-label">Measure Leadership</span> </a>
                </li>
                <li class="{{isActiveRoute regex='employees'}}">
                    <a href="{{pathFor route='employees'}}">
                        <i class="fa fa-users"></i>
                        <span class="nav-label">Manage Employees</span> </a>
                </li>
                {{/if}}
            </ul>

        </div>
    </nav>
</template>