<template name="topBar">
    <div class="row border-bottom">
        <div class="col-md-6 col-sm-6">
            <a href="{{pathFor 'dashboard'}}">
                <div class="main-logo">
                    <h2>theLeader.io</h2>
                    <h3>Strive for GREAT Leadership</h3>
                </div>
            </a>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="account-info">
                <ul class="nav navbar-nav navbar-right">
                    <li id="fat-menu" class="dropdown">
                        <a id="user-info" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span>
                                {{> Avatar userId=currentUser._id}}
                            </span>
                            {{name}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="user-info">
                            <li><a href="{{pathFor 'editProfile'}}">Edit profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{pathFor 'logout'}}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>