<template name="feedbackHistory">
    <div class="ibox float-e-margins">
        <div class="ibox-title clear">
            <h5 class="pull-left">
                History
            </h5>
            <a class="pull-right btn btn-xs btn-default" href="{{pathFor 'logout'}}">Logout</a>
        </div>
        <div class="ibox-content">
            <div>
                <div class="feed-activity-list">
                    {{#each feedbacks}}
                        {{> feedbackItem}}

                    {{/each}}

                </div>
                {{#if isLoadmore}}
                    <button class="btn btn-primary btn-block loadmore"><i class="fa fa-arrow-down"></i> Show More</button>
                {{/if}}
            </div>

        </div>
    </div>
</template>

<template name="feedbackItem">
    <div class="feed-element">
        <div class="media-body ">
            <small class="pull-right text-navy">{{timeago}}</small>
            <strong>{{{content}}}</strong>
        </div>
    </div>
</template>